<launch>
    <arg name="port" default="/dev/ttyUSB0" />
    <arg name="baudrate" default="115200" />
    <arg name="frame_id" default="map" />

    <node pkg="ubeacon_driver" type="ubeacon_driver" name="ubeacon_driver" output="screen">
        <param name="port" value="$(arg port)" />
        <param name="baudrate" value="$(arg baudrate)" />
        <param name="frame_id" value="$(arg frame_id)" />
    </node>
</launch>
