<launch>
    <arg name="port" default="/dev/ttyUSB0" />
    <arg name="baudrate" default="115200" />
    <arg name="frame_id" default="map" />

    <!-- 地图坐标系的父坐标系。发布一个静态TF，否则rviz里TF树为空，map不存在 -->
    <arg name="parent_frame" default="world" />
    <!-- 地图在parent_frame中的位姿: x y z yaw pitch roll -->
    <arg name="map_pose" default="0 0 0 0 0 0" />
    <!-- 若已由其它节点发布该TF，置false避免冲突 -->
    <arg name="static_tf" default="true" />

    <include file="$(find ubeacon_driver)/launch/msg.launch">
        <arg name="port" value="$(arg port)" />
        <arg name="baudrate" value="$(arg baudrate)" />
        <arg name="frame_id" value="$(arg frame_id)" />
    </include>

    <node if="$(arg static_tf)" pkg="tf2_ros" type="static_transform_publisher"
          name="ubeacon_map_tf" args="$(arg map_pose) $(arg parent_frame) $(arg frame_id)" />

    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find ubeacon_driver)/rviz/ubeacon_driver_ros1.rviz" />
</launch>
